<% (form.object.boolean_fields || {}).each do |field, field_state| %>
  <tr data-controller="field-state" data-field-state-enabled-state-value="optional" data-field-state-disabled-state-value="disabled" data-field-state-target="row">
    <td>
      <%= t("decidim.extra_user_fields.admin.extra_user_fields.boolean_fields.#{field}.label", default: field.to_s.humanize) %>
      <% description = t("decidim.extra_user_fields.admin.extra_user_fields.boolean_fields.#{field}.description", default: "") %>
      <% if description.present? %><br><span class="help-text"><%= description %></span><% end %>
    </td>
    <td class="text-center">
      <input type="hidden" name="extra_user_fields[boolean_fields][<%= field %>][enabled]" value="false" id="extra_user_fields_boolean_field_<%= field %>">
      <input type="checkbox" name="extra_user_fields[boolean_fields][<%= field %>][enabled]" value="true" aria-label="<%= field.to_s.humanize %> enabled" data-field-state-target="enabled" data-action="field-state#toggleEnabled" <%= "checked" if field_state["enabled"] %>>
    </td>
    <td></td>
  </tr>
<% end %>
