<% (form.object.boolean_fields || {}).each do |field, field_state| %>
  <tr>
    <td>
      <%= t("decidim.extra_user_fields.admin.extra_user_fields.boolean_fields.#{field}.label", default: field.to_s.humanize) %>
      <% description = t("decidim.extra_user_fields.admin.extra_user_fields.boolean_fields.#{field}.description", default: "") %>
      <% if description.present? %><br><span class="help-text"><%= description %></span><% end %>
    </td>
    <td class="text-center">
      <input type="checkbox" class="collection-field-enabled" name="extra_user_fields[boolean_fields][<%= field %>][enabled]" value="true" data-field="<%= field %>" data-type="boolean" <%= "checked" if field_state["enabled"] %>>
    </td>
    <td></td>
  </tr>
<% end %>
