<%# locals: (label:, help_text: nil, state:, input_name:, input_id:, has_required: true, stimulus_values: {}) %>
<tr data-controller="field-state" data-field-state-target="row" class="<%= field_row_class(state) %>"
    <% stimulus_values.each do |key, val| %>
      data-field-state-<%= key %>-value="<%= val %>"
    <% end %>>
  <td>
    <%= label %><% if help_text.present? %><br><span class="help-text"><%= help_text %></span><% end %>
  </td>
  <td class="text-center">
    <input type="hidden" name="<%= input_name %>" value="<%= state %>" data-field-state-target="state" id="<%= input_id %>">
    <input type="checkbox" data-field-state-target="enabled" data-action="change->field-state#toggleEnabled" <%= "checked" if field_enabled?(state) %>>
  </td>
  <td class="text-center">
    <% if has_required %>
      <input type="checkbox" data-field-state-target="required" data-action="change->field-state#toggleRequired" <%= "checked" if field_required?(state) %> <%= "disabled" unless field_enabled?(state) %>>
    <% end %>
  </td>
</tr>
